@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --main-color: #b18d50;
    --second-color: #071120;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}

.button{
  padding: 16px 20px;
  border-radius: 8px;
  background-color: var(--main-color);
  transition: all 0.2s;
}
.button:hover{
  filter: brightness(1.10);
}
.linksHeader:hover{
  color: var(--main-color);
  transition: all 0.2s;
}
.header-span{
  background-color: var(--main-color);
}
.bg-hero{
  background-image: url('/barber/barbershop-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.local-hero::before, .local-hero::after{
  content: '';
  display: flex;
  width: 70px;
  height: 4px;
  background-color: var(--main-color);
}
.mobile-nav{
  position: fixed;
  top: 73px;
  right: -100%;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #0a0a0aee;
}
.show-mobile-nav{
  right: 0;
}

.line{
  width: 200px;
  height: 1px;
  background-color: var(--main-color);
  display: inline-block;
  margin: 5px;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
}
.about-section{
  background-color: var(--second-color);
  gap: 30px;
}
.about-section-top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
}
.about-section-top img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  box-shadow: 10px 5px 20px #0c213d;
}
.about-section-txt .line{
  margin: 40px 0;
}
.about-section-txt .about-txt{
  font-size: 16px;
  line-height: 25px;
  margin-top: 20px;
  color: #e7e7e7;
}
.about-section-h2{
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  margin-bottom: 20px;
}
.about-section-h2 .yearsExp{
  color: var(--main-color);
}
.about-section-h2 .experience{
  font-size: 55px;
}
.about-section-bottom{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}
.hours-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.hours-container span{
  font-weight: bold;
  font-size: 20px;
}
.hours-container .line{
  margin-left: 30px;
}
.hours-area{
  display: flex;
  gap: 60px;
  margin-top: 10px;
}
.hours-week{
  color: var(--main-color);
}